@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{ margin: 0; padding: 0; box-sizing: border-box;}
ul,ol,li{ list-style: none; }
a{ text-decoration: none; }

body{
  overflow-x: hidden;
  font-family: 'Noto Sans KR', '나눔고딕', 'NanumGothic', 'Nanum Gothic', '돋움',dotum,sans-serif;
  letter-spacing: -0.5px;
}

br.before{
  display: block;
}
br.after{
  display: none;
}

.flex_column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mont{
  font-family: 'Montserrat', sans-serif;
}

/* 모바일 메뉴 */
#mobile_lnb{
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  padding: 0 3%;
  background: #fff;
}
.category_btn{
  display: block;
  position: relative;
  /* padding: 15px 0; */
  line-height: 65px;
  color: #222;
  font-family: "Montserrat";
  font-size: 28px;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
}
.category_btn.on{
  color: #2e3092;
}
.category_btn:before, .category_btn:after{
  display: block;
  content: '';
  position: absolute;
  margin-right: 20px;
  top: 50%;
  /* width: 26px;
  height: 26px; */
  background: #333;
  transform-origin: center;
}
.category_btn:before{
  right: 0;
  width: 26px;
  height: 4px;
  transform: translateY( -50% );
}

.category_btn:after{
  right: 8px;
  width: 4px;
  height: 26px;
  transform: translate( -50%, -50% );
  transition: transform .4s;
}

.category_btn.on:after{
  transform: translate( -50%, -50% ) rotate( 90deg );
}

.mobile_common_submenu{
  display: none;
  margin: 10px 0;
  padding: 20px;
  background: #ececec;
}

.mobile_common_submenu li{
  position: relative;
  padding-left: 15px;
  margin-bottom: 15px;
}
.mobile_common_submenu li:before{
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  background: #666;
  border-radius: 50%;
  transform: translateY( -50% );
}
.mobile_common_submenu a{
  font-family: "Montserrat";
  /* letter-spacing: -0.5px; */
  color: #666;
  font-size: 22px;
  font-weight: 500;
}


.submenu_banner.mobile{
  position: relative;
  margin: 10px 0 60px;
  left: 0;
  width: 100%;
  background-size: cover;
}



header{
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  width: 100%;
  padding-left: 3%;
  height: 90px;
  background: #fff;
  z-index: 100;
}
.header_logo{
  float: left;
  display: inline-block;
  width: 144px;
  height: 30px;
  font-size: 0;
  background: url('../img/common/logo2.png');
}
.header_logo a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
#gnb{
  float: left;
  margin-left: 114px;
}
#gnb a, #lnb .common_submenu a{
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
.common_mainmenu{
  overflow: hidden;
}
.common_mainmenu li{
  float: left;
  width: 225px;
  line-height: 90px;
}
#gnb a{
  padding-left: 40px;
  color: #222;
  font-size: 17px;
  font-weight: 500;
}
.common_mainmenu li a:before{
  content: '';
  position: absolute;
  display: inline-block;
  width: 28px;
  height: 1px;
  left: 0;
  top: 10px;
  background: rgba(0,0,0,0.3);
  /* background: rgba(255,255,255,.3); */
  transition: all 0.4s;
}
#lnb{
  overflow: hidden;
  position: absolute;
  display: none;
  /* padding: 35px 0 35px 3%; */
  /* padding-left: 3%; */
  width: 100%;
  /* height: 0; */
  top: 100%;
  /* bottom: -100%; */
  left: 0;
  color: #555;
  background: #ececec;
  z-index: 100;
}

.lnb_inner{
  overflow: hidden;
  margin-left: 260px;
  padding: 35px 0 63px 3%;
}

.common_submenu{
  float: left;
  position: relative;
  /* min-height: 230px; */
  /* padding: 35px 0 75px; */
  /* padding-bottom: 40px; */
  /* margin-top: 35px; */
  /* border-left: 1px solid red; */
}
.common_submenu:not(:first-child):before{
  content: '';
  position: absolute;
  top: 0;
  left: -13px;
  width: 1px;
  height: 160px;
  background: #bbb;
}
.common_submenu li{
  padding-left: 40px;
  margin-top: 16px;
  width: 225px;
}

.common_submenu li:not(:first-child){
  /* margin-top: 13px; */
}

#lnb .common_submenu a{
  color: #666;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.submenu_banner_wrap{
  float: left;
  position: relative;
  /* margin-top: 35px; */
  width: 285px;
  background: green;
}
.submenu_banner{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 100%;
  width: 340px;
  height: 160px;
  background: url('../img/common/submenu_banner_bg.jpg');
}
.submenu_banner_icon{
  width: 28px;
  height: 26px;
  background: url('../img/common/submenu_ico1.png');
  z-index: 100;
}
.submenu_banner_txt{
  font-size: 24px;
  color: #fff;
  margin-top: 15px;
  /* font-weight: normal; */
}
/* 메뉴 버튼 */
.menu_btn{
  display: none;
  position: absolute;
  padding: 32px 27px;
  top: 0;
  right: 0;
  width: 90px;
  height: 90px;
  background: #2e3092;
  cursor: pointer;
  z-index: 1000;
}
.menu_btn div{
  float: right;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: .4s;
}
.menu_btn div:not(:first-child){
  margin-top: 7px;
}
.menu_btn div:nth-child(2){
  width: 75%;
  transform-origin: right;
}

.menu_btn.on div:nth-child(1){
  transform: translateY( 10px ) rotate( -45deg );
}
.menu_btn.on div:nth-child(2){
  transform: scaleX( 0 );
}
.menu_btn.on div:nth-child(3){
  transform: translateY( -10px ) rotate( 45deg );
}

#mobile_lnb{
  display: none;
}


/* 푸터 */
footer *{
  color: rgba(255,255,255,0.6);
  font-weight: 300;
  word-break: keep-all;
}

footer.swiper-slide{
  position: relative;
  flex-direction: column;
  background: #1d1d1b;
  height: 241px;
}

.back_to_top{
  position: absolute;
  margin-bottom: 40px;
  bottom: 100%;
  right: 3%;
  z-index: 100;
}
.back_to_top a{
  display: block;
  width: 53px;
  height: 53px;
  border: 1px solid rgba(255,255,255,0.8);
  background: rgba(0,0,0,0.5) url('../img/common/btn_top.png');
}

.footer_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  width: 100%;
  font-size: 18px;
}
.inquire a{
  font-size: 16px;
}
footer ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer a{ display: block;}
.footer_top li:not(:first-child), .footer_bottom li:not(:first-child){
  position: relative;
  margin-left: 13px;
  padding-left: 12px;
}
.footer_top li:not(:first-child):before{
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  width: 1px;
  height: 13px;
  background: #4a4a49;
  transform: translateY( -50% );
}

.footer_bottom li:not(:first-child):before{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 13px;
  background: #4a4a49;
  transform: translateY( -50% );
}
/* .footer_bottom li:last-child:before{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 13px;
  background: red;
  transform: translateY( -50% );
} */




.inquire{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 268px;
  font-size: 20px;
  line-height: 70px;
  color: rgba(255,255,255,0.8);
  text-align: center;
  border-left: 1px solid #4a4a49;
}
.inquire_icon{
  margin-right: 17px;
  width: 25px;
  height: 23px;
  background-size: 100%;
  background: url('../img/common/foot_ico1.png') center / cover;
}
.footer_bottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 3% 85px;
  width: 100%;
  font-size: 17px;
  border-top: 1px solid #4a4a49;
}
.footer_text{
  text-align: left;
  line-height: 1.5;
}
address{
  font-style: normal;
}




@media screen and ( max-width: 1280px ){
  #gnb{ display: none; }
  .menu_btn{ display: block; }


}

@media screen and ( max-width: 768px ){
  br.before{ display: none; }
  br.after{ display: block; }

  header{ height: 60px;}
  .menu_btn{ width: 60px; height: 60px; padding: 20px 14px;}
  .category_btn{
    font-size: 24px;
    line-height: 59px;
  }
  .category_btn:before{
    width: 20px;
    height: 2px;
  }
  .category_btn:after{
    width: 2px;
    height: 20px;
  }
  .mobile_common_submenu a {
    font-size: 18px;
  }

  footer *{
    font-size: 14px;
  }
  footer.swiper-slide{
    height: auto;
  }
  .footer_top{
    flex-direction: column-reverse;
    padding: 20px 3%;
  }
  .inquire{
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: rgba(255,255,255,0.8);
    border: 1px solid #4a4a49;
  }
  .inquire_icon{
    width: 21px;
    height: 20px;
  }
  .footer_top ul{
    margin-top: 15px;
  }
  .footer_bottom{
    flex-direction: column;
    align-items: center;
  }
  .footer_text{
    text-align: center;
  }
  .footer_logo{
    margin-top: 20px;
  }
  .footer_logo img{
    height: 26px;
    object-fit: cover;
  }

  .back_to_top{
    margin-bottom: 15px;
  }
}
