.title_banner{
  background-image: url('../img/about/st_bg1.jpg');
}
/* 컨텐츠 */
.content{
  margin: 90px auto 0;
  padding: 175px 0;
  background-image: url('../img/about/m11_bg_img.jpg');
}
.content:before, .content:after{
  content: '';
  display: block;
  position: absolute;
  top: -50px;
  left: 50%;
  width: 1px;
  height: 50px;
  background: #000;
}
.content:after{
  top: 0;
  background: #fff;
}

.content li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc( 100%/3 );
  min-height: 410px;
}
.item_title{
  position: relative;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 36px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.25px;
}
.item_title:before, .item_title:after{
  content: '';
  display: block;
  position: relative;
  margin: 0 auto;
  width: 27px;
  height: 2px;
  background: #fff;
}
.item_title:before{ margin-bottom: 27px;}
.item_title:after{ margin-top: 27px;}

.list_1{ order: 1; }
.list_2{ order: 2; }
.list_3{ order: 3; }
.list_4{ order: 4; }
.list_5{ order: 5; }
.list_6{ order: 6; }

.list_1, .list_6{
  background: #fff;
}
.list_3{
  background: #2e3192;
}
.list_5{
  background: #0095ba;
}


/* .number:before{
  content: '';
  position: relative;
  display: block;
  margin: 0 auto;
  top: -15px;
  width: 40px;
  height: 40px;
  background: no-repeat;
}

.list_1 .number:before{
 background-image: url('../img/about/m11_list_item1.png');
}
.list_3 .number:before{
 background-image: url('../img/about/m11_list_item2.png');
}
.list_5 .number:before{
 background-image: url('../img/about/m11_list_item3.png');
}
.list_6 .number:before{
 background-image: url('../img/about/m11_list_item4.png');
} */

.about_icon{
  position: relative;
  display: block;
  margin: 0 auto 20px;
  width: 40px;
  height: 40px;
  background: no-repeat center / cover;
}
.icon1{ background-image: url('../img/about/m11_list_item1.png'); }
.icon2{ background-image: url('../img/about/m11_list_item2.png'); }
.icon3{ background-image: url('../img/about/m11_list_item3.png'); }
.icon4{ background-image: url('../img/about/m11_list_item4.png'); }


.number:after{
  content: '';
  display: block;
  margin: 17px auto 0;
  width: 27px;
  height: 1px;
  background: #000;
}

.white p{
  color: #fff;
}
.white .number:after{
  background-color: #fff;
}
.number{
  font-size: 26px;
  color: #2c2e8b;
}
.counter{
  margin-right: 5px;
  font-family: 'Montserrat';
  color: #2c2e8b;
  font-size: 75px;
  font-weight: 600;
}
.counter.magenta{
  color: #c6168d;
}

.list_title{
  margin-top: 22px;
  font-size: 30px;
  color: #111;
  line-height: 1em;
  font-weight: 500;
}
.list_subtitle{
  margin-top: 14px;
  color: #444;
  font-size: 18px;
  font-weight: 300;
}


@media screen and ( max-width: 1280px ){
  .content li { width: 50%; height: 28vw; min-height: auto; }
  .list_3{ order: 4; }
  .list_4{ order: 3; }
  .content { padding: 125px 0; }
}

@media screen and ( max-width: 1100px ){
  .content li { height: 48vw; }
}

@media screen and ( max-width: 768px ){
  .content:before, .content:after{ height: 25px; }
  .content:before{ top: -25px; }

  .about_icon { width: 30px; height: 30px; }
  .number{ font-size: 2.6vh; }
  .counter{ font-size: 9vw }
  .list_title{ font-size: 3vh; }
  .list_subtitle{ font-size: 1.8vh; }
  .item_title{ font-size: 3.6vh; }
}
