@media screen and ( max-width: 1400px ){
  #gnb{ display: none; }
  .menu_btn{ display: block; }

  /* 모바일 메뉴 */
  #mobile_lnb{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding: 0 3%;
    background: #fff;
  }
  .category_btn{
    display: block;
    position: relative;
    /* padding: 15px 0; */
    line-height: 65px;
    color: #222;
    font-family: "Montserrat";
    font-size: 28px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
  }
  .category_btn.on{
    color: #2e3092;
  }
  .category_btn:before, .category_btn:after{
    display: block;
    content: '';
    position: absolute;
    margin-right: 20px;
    top: 50%;
    /* width: 26px;
    height: 26px; */
    background: #333;
    transform-origin: center;
  }
  .category_btn:before{
    right: 0;
    width: 26px;
    height: 4px;
    transform: translateY( -50% );
  }

  .category_btn:after{
    right: 8px;
    width: 4px;
    height: 26px;
    transform: translate( -50%, -50% );
    transition: transform .4s;
  }

  .category_btn.on:after{
    transform: translate( -50%, -50% ) rotate( 90deg );
  }

  .mobile_common_submenu{
    display: none;
    margin: 10px 0;
    padding: 20px;
    background: #ececec;
  }

  .mobile_common_submenu li{
    position: relative;
    padding-left: 15px;
    margin-bottom: 15px;
  }
  .mobile_common_submenu li:before{
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 4px;
    height: 4px;
    background: #666;
    border-radius: 50%;
    transform: translateY( -50% );
  }
  .mobile_common_submenu a{
    font-family: "Montserrat";
    /* letter-spacing: -0.5px; */
    color: #666;
    font-size: 22px;
    font-weight: 500;
  }


  .submenu_banner.mobile{
    position: relative;
    margin: 10px 0 60px;
    left: 0;
    width: 100%;
    background-size: cover;
  }
}
